.containerCards{
    display: flex;
    justify-content: center;
    gap:20px;
}
.table1Border{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 0 12px 30.5px rgba(0, 70, 185, 0.13) ;
    border-radius:10px;
    width: 286px; 
    height: 408px;
    position: relative;
}
.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.table1Icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
#table1Icons{
    width: 80px;
    
}
.titleTable1{
    padding: 0 10px; 
}

.textTable1{
    word-wrap: break-word; 
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify; 
    padding: 0 10px; 
}
.buyTopSale{
    display: flex;
}
.titleTable1 h3 {
    font-size: 20px;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btnBuy{
    background-color: rgba(96, 165, 250, 1);
    border-radius: 20px;
    width: 156px;
    height: 52px;
    color: white;
    border: 0px white;
    cursor: pointer;
    margin: 18px;
}
.btnCart{
    background: none;
    border: none;
    cursor: pointer;
}
#imgBtnCart{
    width: 56px;
    height: 52px;
}
.countTable{
    border: 1px solid rgba(180, 182, 186, 1);
    border-radius:10px;
    width: 50px;    
    margin: 0 5px;
    margin-bottom: 4px;
    margin-top: 10px;         
}
.countTable p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
    color:rgba(180, 182, 186, 1) ;
}
.pricetoptable{
    font-family: "Gilroy";
    font-size: 20px;
    margin: 0 5px;
    color: rgba(96, 165, 250, 1);
    margin-bottom: 3px;
}
.table1Border:hover{
    transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
